body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd{
  /* 默认有边距，都要清除 */
  margin: 0;
  padding: 0;
  /*字体设置*/
  font-size: 16px;
  // font-family: "Microsoft Yahei",sans-serif;
  // color: #ccc;
  /* 去掉列表的原点 */
  list-style: none;
  /* 默认鼠标 */
  // cursor: default;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* 使用伪元素清除浮动 */
.clearfix::after{
  content:"";
  height: 0;
  line-height: 0;
  display: block;
  visibility: none;
  clear: both;
}

// .clearfix {
//   zoom: 1;
// }
